<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="draftsConfirmDialog" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="draftsStaticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="draftsStaticBackdropLabel">Confirmation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Selected draft(s) will be deleted!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" id="draftsConfirmButton" class="btn btn-primary">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Alert -->
    <form class="row g-2 mb-2" id="draftsFormAlert" method="" action="#">
    </form>
    <!-- Table -->
    <table id="draftsTable" class="table table-bordered" width="100%">
        <thead style="display:none;">
            <tr>
                <th>Id</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>