<div class="container">
    <!-- Profile -->
    <form class="row g-2" id="profileForm">
        <div hidden id="profileDomainName"></div>
        <p class="font-weight-normal" id="profileUsername"></p>
        <div class="form-floating mb-1">
            <input class="form-control" id="firstNameInput" type="text" name="firstName" placeholder="First name"
                data-sb-validations="" />
            <label for="firstNameInput">First name</label>
        </div>
        <div class="form-floating mb-1">
            <input class="form-control" id="lastNameInput" type="text" name="lastName" placeholder="Last name"
                data-sb-validations="" />
            <label for="lastNameInput">Last name</label>
        </div>
        <div class="col-12">
            <button class="btn btn-primary" id="profileSubmitButton" type="submit">Save</button>
        </div>
    </form>
</div>
